body {
    margin: 0 auto;
    max-width: 1600px;
    background-color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;

}

#menu {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    // position: fixed;
    background-color: #ffffff00;
    padding: 8px 30px;

}

a {
    color: #137000;
    font-size: 20px;
    text-decoration: none;
}

h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    margin: 0;
    text-align: center;
    color: #222222;
}
h3 {
    //font-weight: bold;
    font-size: 20px;
    line-height: 62px;
    margin: 0;
    text-align: center;
    color: #222222;
}
p {
    font-size: 20px;
    line-height: 155%;
    color: #555555;
}
hr {
    border: 0.5px solid #E9E8E8;
}
li {
    text-align: right;
    list-style: none;
}
button {
    display: block;
    width: 176px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 16px 32px;
    color: #FFFFFF;
    background: #137000;
    border-radius: 6px;
    border: 0 solid #137000;
margin: auto;
    
}
.icons {
    margin: 20px 0;
    width: 40px;
    height: 40px;
    //padding: 10px;
}
.horse {
    width: 80px;
    height: 80px;
    padding: 10px;
}

.container {
    background: #172219;
       width: 100%;
}
.header {
   
   
    &__logo {
        margin: 1px 0;
        //height: 80px;

        &__img {
            display: block;
            width: 110px;
            margin: 0 auto;
        }
    }

    &__nav {
        display: flex;
        // flex-wrap: wrap;
        justify-content: space-between;


        &__link {
            display: flex;
            justify-content: space-between;
            list-style-type: none;

            & li {
                display: flex;
                margin: auto 16px;
            }

            &__text {
                text-decoration: none;
                //color: #ffffff;
                color: #fff;
            }

            &__img {

                width: 10px;
                height: 5px;
                margin: 10px 0 10px 7px;
            }

        }

        &__text {
            text-decoration: none;
            margin: 0 48px 0 0;
        }

        &__button {
            border: 0 solid #086CF9;
            background: #086CF9;
            border-radius: 4px;
            padding: 12px 24px;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
        }
    }

    &__baner {


        &__hero {
            background: url(../img/header_photo.png);
            background-color: rgba(0, 0, 0, 0.54);
            width: 100%;
            height: 739px;
            padding: 170px 150px 283px;
            box-sizing: border-box;
            background-position: center;
}

            &__title {
                font-weight: bold;
                font-size: 56px;
                line-height: 73px;
                color: #FFFFFF;
                margin: 0;

            }

            &__text {
                font-size: 24px;
                text-align: left;
                margin: 24px auto 54px;
                color: #ffffff;
            }

            &__button {

                margin: 0 ;

            }
        }
    }

    &__statistics {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 56px 88px;
        margin: 0 151px;
        background: #FFFFFF;
        box-shadow: 0px 11px 35px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        position: relative;
        bottom: 92px;

        &__card {
            display: flex;
            flex-wrap: wrap;


            &__img {
                display: block;
                margin: 0 24px 0 0;
            }

            &__number {
                font-weight: bold;
                font-size: 36px;
                line-height: 47px;
                /* identical to box height */


                color: #222222;
            }

            &__text {
                display: block;
                /* identical to box height, or 25px */


                color: #137000;
            }
        }
    }

.detailed {font-size: 18px;
    line-height: 155%;
    text-align: left;
    list-style-type: none;
    color: #137000;

}
.main {

    &__service {
        margin: 0 144px 128px ;

        &__title {
            line-height: 62px;
            margin: 0;
            text-align: center;
            color: #222222;
        }

        &__text {
            margin: 12px auto 48px;
            text-align: center;
            max-width: 800px;
        }

        &__cards {
            display: flex;
            justify-content: space-between;
            

            &__card {
                width: 40%;

                &__img {
                    display: block;
                    margin: 0 auto;
                    width: 400px;
                    height: 400px;
                }

                &__title {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 31px;
                    margin: 24px 0 16px;
                    text-align: center;
                    color: #222222;
                }

                &__text {
                    text-align: left;
               }
              
            }
        }
    }
    &__domodedovo {
        display: flex;
        justify-content: space-between;
        background: #ECF4FF;
        padding: 60px 144px;

        &__title {
            line-height: 62px;
            margin: 0;
            color: #222222;
        }

        &__text {
            margin: 24px 79px 16px 0;
        }

        &__info {
            font-size: 20px;
            line-height: 28px;
            color: #333333;
            margin: 0 68px 32px 0;
        }

        &__button {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            padding: 16px 32px;
            background: #137000;
            border-radius: 4px;
            border: 0 solid #137000;
            color: #FFFFFF;
        }

        &__img {
            width: 400px;
            height: 400px;
        }

        &__figure {
            width: 80px;
            height: 80px;
            box-sizing: border-box;
            padding: 28px;
            background: #fff;
            border-radius: 50%;
            position: relative;
            bottom: 260px;
            left: 260px;

        }
    }
    &__testimonial {
        padding: 144px 128px;
        //background: #ECF4FF;

        &__title {
            font-weight: bold;
            font-size: 48px;
            line-height: 62px;
            margin: 0;
            color: #000;
            text-align: center;
        }

        &__text {
          
            margin: 12px auto 42px;
            text-align: center;
            width: 500px;
           
        }
        &__info {
            &__title {
                font-weight: bold;
                font-size: 24px;
                line-height: 32px;
                margin: 0;
                color: #000;
                text-align: center;
            }
    
            &__text {
              
                margin: 12px auto 42px;
                text-align: center;
                width: 200px;
               
            }
        }

        &__cards {
            display: flex;
            justify-content: space-between;


            &__card {
                width: 320px;
                padding: 30px 24px 38px 15px;
                display: flex;
                flex-wrap: wrap;
                justify-content: left;
                background: #FFFFFF;
                box-shadow: 0px 13px 45px rgba(0, 0, 0, 0.08);
                border-radius: 6px;


                &__text {
                    width: 100%;
                    
                    margin: 0 0 20px;

                }
                
                &__img {
                    width: 45px;
                    height: 80px;
                    margin: 10px;
                }

                &__item {

                    padding: 10px 0;

                    &__title {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 26px;
                        color: #222222;
                        margin: 0 0 8px;
                    }

                    &__text {
                        
                        margin: 0;

                    }
                }
            }
        }
    }
    
    &__couese {
        background: #ECF4FF;
        padding: 60px 144px;

        &__title {
            line-height: 62px;
            text-align: center;
            color: #000000;
            margin: 0;
            
        }

        &__text {
            max-width: 800px;
            text-align: center;
            margin: 12px auto 48px;
        }

        &__cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 0px;
        margin: 48px 0;


            &__card {
                box-sizing: border-box;
                width: 341px;
                padding: 12px 24px 23px;
                background: #FFFFFF;
                border-radius: 6px;
                margin: 12px;


                &__item {
                    display: flex;
                    justify-content: space-between;
                    margin: 24px 0 25px;

                    &__img {
                        width: 32px;
                        height: 32px;
                    }

                    &__text {
                        font-size: 16px;
                        line-height: 155%;
                        box-sizing: border-box;
                        padding: 5px 0;
                        color: #555555;
                    }
                }

                &__list {
                    display: flex;
                    justify-content: space-between;
                    margin: 20px 0 18px;

                    &__title {
                        width: 62%;
                        height: 95px;
                        line-height: 31px;
                        margin: 0;
                        text-align: left;  
                    }

                    &__number {
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 31px;
                        margin: 0;
                        color: #137000;
                    }
                }

                &__text {
                    margin: 0;
                    font-size: 14px;
                    line-height: 155%;
                    width: 100%;
                }

            }
        }

        &__button {
            max-width: 176px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            padding: 16px 32px;
            color: #FFFFFF;
            background: #137000;
            border-radius: 6px;
            border: 0 solid #137000;
        
            margin: 24px auto 0;
        }
    }
    
    &__event {
        margin: 130px 144px;

        &__title {
            line-height: 62px;
            margin: 0;
            color: #222222;
            text-align: center;
        }

        &__text {

            margin: 12px auto 48px;
            text-align: center;
            max-width: 800px;

        }

        &__cards {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0px;
            margin: 0 0 50px;

            &__background {
                background: #FFFFFF;
                box-shadow: 0px 12px 45px rgba(0, 0, 0, 0.08);
                border-radius: 6px;
            }

            &__card {
                box-sizing: border-box;
                width: 350px;
                white-space: nowrap;
                margin: 0 auto;
                //display: flex;   
                //flex-wrap: nowrap;


                &__img {
                    width: 100%;
                    height: 240px;
                }

                &__data {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    position: relative;
                    left: 0;
                    top: 62px;
                    background: #137000;
                    border-radius: 6px 0px 0px 0px;
                    box-sizing: border-box;
                    padding: 8px 12px;
                    color: #FFFFFF;
                    text-align: center;
                    width: 65px;
                    height: 65px;
                }

                &__title {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 26px;
                    margin: 24px 24px 20px;
                    color: #222222;
                }

                &__item {
                    margin: 0 24px 0;
                    display: flex;
                    justify-content: space-between;
                    padding: 0 0 32px;

                    &__img {
                        margin: 0 8px 0 0;
                    }

                    &__text {
                        font-size: 14px;
                        line-height: 155%;

                        color: #555555;
                    }
                }
                
            }

        }
    }
    &__contact {
        background: #ECF4FF;
        padding: 60px 144px;
        
        &__title {
            line-height: 62px;
            margin: 0;
            color: #222222;
            text-align: center;
        }

        &__text {
            font-size: 24px;

        }
        &__cards {
            display: flex;
            justify-content: space-between;
        }

    }

}
.footer {
    background: #D3E5FE;
    padding: 60px 144px 80px;
    display: flex;
    justify-content: space-between;

    &__education {
        width: 360px;

        &__title {
            font-weight: bold;
            font-size: 30px;
            line-height: 39px;
            color: #222222;
            margin: 0;
        }

        &__text {
            font-size: 16px;
            line-height: 21px;
            color: #444444;
            margin: 24px 0 32px;
        }


        &__icon {
            width: 48px;
            height: 48px;
            margin: 24px 16px 0 0;
        }
    }


    &__links {

        &__title {
            font-weight: bold;
            font-size: 30px;
            line-height: 39px;
            color: #222222;
            margin: 0 0 8px;
        }

        &__item {
            list-style-image: url("../img/vector.svg");
            padding: 0 0 0 20px;

            & li {
                margin: 0 0 16px 0;
            }

            &__text {
                font-size: 16px;
                line-height: 21px;
                color: #444444;
                text-decoration: none;
            }
        }
    }

    &__support {
        &__title {
            font-weight: bold;
            font-size: 30px;
            line-height: 39px;
            color: #222222;
            margin: 0 0 8px;
        }

        &__item {
            list-style-image: url("../img/vector.svg");
            padding: 0 0 0 20px;

            & li {
                margin: 0 0 16px 0;
            }

            &__text {
                font-size: 16px;
                line-height: 21px;
                color: #444444;
                text-decoration: none;

            }


        }
    }

    &__contacts {
        width: 203px;

        &__title {
            font-weight: bold;
            font-size: 30px;
            line-height: 39px;
            color: #222222;
            margin: 0 0 8px;
        }

        &__item {
            list-style-type: none;
            padding: 0;

            & li {
                margin: 0 0 16px 0;
            }

            &__img {
                margin: 0 8px 0 0;
            }

            &__text {
                font-size: 16px;
                line-height: 21px;
                color: #444444;


            }
        }
    }
}

@media (max-width: 1024px) {
    body.lock {
        overflow: hidden;
    }

    .header {
        // position: fixed;
        right: 0;
        left: 0;
        z-index: 50;


        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 136px;
            //background: #ffffff10;
            z-index: 3;
        }

        &__logo {
            position: relative;
            align-items: center;
            z-index: 3;
            overflow: hidden;


            &__text {
                display: block;
                position: relative;

            }

        }

        &__burger {
            display: block;
            position: relative;
            width: 20px;
            height: 20px;
            margin: 20px;
            position: relative;
            z-index: 4;

            &.active::before {
                transform: rotate(45deg);
                top: 9px;
                width: 20px;
                margin: 0;
            }

            &.active span {
                transform: scale(0);

            }

            &.active::after {
                transform: rotate(-45deg);
                bottom: 9px;
                width: 20px;
                margin: 0;
            }

            & span {
                background-color: #ffffff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                top: 9px;
                transition: all 0.3s ease 0s;
            }

            &::before,
            &::after {
                content: '';
                background-color: #ffffff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;

            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }

        &__nav {
            position: fixed;
            top: -100%;
            left: 0px;
            max-width: 80%;
            margin: 60px 0 0;
            transition: 0.3s ease 0s;
            overflow: auto;
            background: #000000;
            box-sizing: border-box;
            padding: 20px 160px;
            z-index: 2;
            transition: 1.3s ease 0s;
            border-top: 2px solid #000;

            &.active {
                top: 76px;
            }

            &__link {
                display: block;
                position: relative;



                & li {
                    list-style: none;
                    margin: 0 0 20px 0;

                }

                &__text {
                    font-size: 20px;

                }
            }
        }
    }

    .container {
        margin: 0 auto;
        margin: 0px 25px;
        // max-width: 1200px;
        display: flex;
        justify-content: space-between;
        background-color: #000000;
        

    }
    .header__statistics {
  
        margin: 0;
        border-radius: 0;
        padding: 56px;

    }
}
@media (max-width: 800px) {
    .main__service__cards {
        display: block;
}
.main__service__card {
    width: 100%;
}
.main__contact__text {
    font-size: 16px;
}

a {

    font-size: 18px;

}

h2 {

    font-size: 32px;

}
h3 {
    //font-weight: bold;
    font-size: 18px;

}
p {
    font-size: 18px;
}
.main__domodedovo {
    display: block;
    padding: 60px 20px;
}
.main__couese {
    padding: 60px 20px;
}
}
@media (max-width: 480px) {}